//https:CANTO_FRONT_COVER.jpeg
$background: '//s3-us-west-1.amazonaws.com/wehodev-store/eugene-ruffolo/images/stock-xmas-studio-shot.jpg';
$background2: '//s3-us-west-1.amazonaws.com/wehodev-store/eugene-ruffolo/images/bg-news.jpg';
$body-bg: '//s3-us-west-1.amazonaws.com/wehodev-store/eugene-ruffolo/images/faux-website.jpg';
$sm-screen: 768px;
$vid-height : 40vh;
