@import "partials/mixins";
@import "partials/variables";

body{
    margin:0;
}

#landing-splash {
    background: url($background);
    background-size: cover;
    height: 100%;
    height: 100vh;
    text-align: center;
    width: 100%;
    &.fadeOut{
        opacity: 0;
    }
    @include transitionIn(5s);
    @media(max-width: $sm-screen) {
        height: auto;
        padding: 20px;
    }

    a.cta{
        background: transparent;
        border: 2px solid white;
        border-radius: 0;
        color: white;
    }

    video#video{
        border: 10px double rgba(221, 221, 221, 0.1);
        height:$vid-height;
        opacity: 1;
        width: auto;
        @include transitionIn(1s);
        &.hideaway{
            opacity: 0;
        }
    }


    #container-{
        &intro{
            h4{
                color: white;
                font-style: italic;
                font-weight: 100;
            }
        }
        &logo{
            @include transitionIn(1s);
            &.hideaway{
                opacity: 0;
            }
        }
        &cta{
            margin-top: 10px;
            @include transitionIn(5s);
            .btn.cta{
                width: 25%;
            }
            &.hideaway{
                opacity: 0;
            }
        }
    }

    #book{
        @include transitionIn(2s);
    }
    #album{
        @include transitionIn(3s);
    }
    #book,
    #album{
        opacity: 1;
        p{
            color: white;
            span{
                color: #ffeaaa;
            }
        }
        &.hideaway {
            opacity: 0;
        }
        img{
            display: block;
            margin: auto;
            max-height: 200px;
            padding: 10px;
        }
    }

    .flex-container {
        display: flex;
        justify-content: center;
        div#album,
        div#book{
            margin: 0 20px;
        }
        @media (max-width: $sm-screen) {
            display: block;
            width: 100%;
        }
    }

}